# Ignorar TODAS as credenciais do Google
src/main/resources/*.json

# Ignorar variáveis de ambiente (Senhas do Docker)
.env

# Ignorar pastas de dados do Docker
postgres_data/
dados-wpp/

HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
dados-wpp/
src/main/resources/crendencial.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
